---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <!-- <form class="site-search" method="get" action="http://www.google.com/search" target="_blank" aria-label="Site search">
    <input type="hidden" name="sitesearch" value="pablomirallesg.com" />
    <input type="text" name="q" maxlength="255" placeholder="Search with Google" />
    </form> -->

    <ul class="blog-posts">
        {% for post in site.notes %}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>


</main>

{% include footer.html %}

</body>

</html>